<h1>What would you like to do?</h1>
<section>
  <button id = 'addcat' class='lined thick'>Add Cat</button>
  <button id = 'showall' class='lined thick'>Show All</button>
  <button id = 'deleteold' class='lined thick'>Delete Oldest</button>
  <button id = 'bycolor' class='lined thick'>By Color</button>
  <button id = 'byprice' class='lined thick'>By Price</button>
</section>

<section id="result"></section>